/* ***************************************************************************************** */
/* 关于我们 */
/* ***************************************************************************************** */
/* 企业简介 */
.about-container{background: #F6F6F6;}
.about-title{color: #2961E0;font-size: .46rem;margin-bottom: .7rem;position: relative;}
.about-title:after{position: absolute;left: 0;bottom: -.3rem;width: .8rem;height: 3px;background: #2961E0;content: '';}
.page-banner{background: url(../images/about-bga.jpg) no-repeat;background-position: center;background-size: cover;}
.about-bar{width: 5px;height: 100%;background: linear-gradient(#1649B2,#3DBEBA);position: absolute;top: 0;}
.about-intro{padding: 1rem 0;position: relative;}
.about-intro .about-video{left:0;width: 49%;}
.about-intro .about-content{float: right;width: 54%;background:#FFFFFF;padding: .8rem .8rem .8rem 1.2rem;position: relative;}
.about-intro .about-content .about-bar{right: 0;}
.about-intro .about-content div{color: #919191;font-size: 18px;line-height: 2.2;}
.about-video .play-btn{position: absolute;width: 54px;left: 25%;top: 50%;z-index: 100;margin-left: -27px;margin-top: -27px;cursor: pointer;}
.about-video .play-bg{width: 590px;position: absolute;left: 0;top: 50%;transform: translate(0,-50%);z-index: 10;}
/* 企业文化 */
.about-culture{position: relative;margin: .8rem auto;background: #FFFFFF;}
.about-culture .culture-top .content{float: left;width: 50%;padding: .8rem;}
.about-culture .culture-top .content div{color: #919191;font-size: 18px;line-height: 2.2;}
.about-culture .culture-top img{float: right;width: 50%;}
.about-culture .culture-bot{width: 100%;border-top: 1px solid #eee;}
.about-culture .culture-bot>div{float: left;width: 33.333%;text-align: center;height: 2rem;position: relative;cursor: pointer;}
.about-culture .culture-bot>div.active .on{display: none;}
.about-culture .culture-bot>div.active .off{display: block;}
.about-culture .culture-bot>div.active span{color: #FFFFFF;}
.about-culture .culture-bot>div.active .bg{height: 2.4rem;}
.about-culture .culture-bot>div img{margin: .4rem auto .2rem;display: block;position: relative;z-index: 1;}
.about-culture .culture-bot>div .off{display: none;}
.about-culture .culture-bot>div span{color: #919191;font-size: .24rem;position: relative;z-index: 1;}
.about-culture .culture-bot>div .bg{width: 100%;background: #2961E0;position: absolute;left: 0;top: 0;height: 0;transition: all .2s linear;}
/* 联系我们 */
.about-map{margin-top: 2rem;padding-bottom: 1.4rem;}
#map{width: 100%;height: 600px;}
.about-contact{position: relative;background: #FFFFFF;max-width: 1200px;margin: -1.4rem auto 0;padding: 1rem 1rem .6rem;}
.about-contact>img{position: absolute;right: 0;top: 0;}
.about-contact .about-bar{left: 0;}
.about-contact .content{width: 100%;}
.about-contact .content .item{width: 50%;float: left;font-size: 16px;margin-bottom: 20px;}
.about-contact .content .item span{color: #B4B4B4;}
/* 视频 */
.video-box{width: 100%;display: none;position: fixed;left: 0;top: 0;height: 100%;background: rgba(0,0,0,.7);z-index: 1000;}
.video-box video{position: absolute;margin: auto;max-width: 90%;max-height: 90%;left: 0;top: 0;bottom: 0;right: 0;}
.video-box img{position: absolute;right: 5px;top: 5px;width: .6rem;cursor: pointer;}
