/****************************************************************************************** */
/* 首页 */
/****************************************************************************************** */
/* 首页banner */
.index-banner{width: 100%;height: 570px;position: relative;}
.index-banner .index-swiper{height: 570px;}
.index-banner .swiper-wrapper{height: 570px;overflow: hidden;}
.index-banner .swiper-slide{height: 570px;width: 100%;background-size: cover;background-position: center center;}
.index-pagination{position: absolute;z-index: 20;bottom: .8rem;width: 100%;text-align: center;}
.index-pagination .swiper-pagination-switch {display: inline-block;width: 8px;height: 8px;border-radius: 50%;background: rgba(255,255,255,.3);margin: 0 8px;cursor: pointer;transition: all .2s linear;}
.index-pagination .swiper-active-switch{border: 3px solid #FFFFFF;background-color: transparent;width: 14px;height: 14px;position: relative;top: 3px;}
.index-banner-box{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);z-index: 100;width: 6rem;}
.index-banner-box p{color: #FFFFFF;font-size: .5rem;font-weight: bold;text-align: center;margin-bottom: 20px;line-height: 1.2;}
.index-banner-box span{color: #FFFFFF;text-align: center;display: inline-block;width: 100%;font-size: .26rem;}
.index-banner-box .com-btn{background: #1C59D1;color: #FFFFFF;margin: .4rem auto 0;}
/* 首条新闻 */
.index-latest{max-width: 1200px;margin: -35px auto 0;height: 70px;background: #FFFFFF;position: relative;z-index: 100;padding: 20px;}
.index-latest img{width: 24px;margin-right: 15px;display: inline-block;vertical-align: middle;}
.index-latest span{color: #333333;font-size: .2rem;width: 1rem;display: inline-block;}
.index-latest p{display: inline-block;margin-left: 1rem;vertical-align: middle;width: calc(100% - 3rem);}
/* 首页介绍 */
.index-intro{padding: 1rem 0;}
.index-intro img{width: 48%;}
.index-intro .content{width: 48%;}
.index-intro .content p{font-size: .3rem;line-height: 1.5;margin-bottom: .2rem;}
.index-intro .content .text{font-size: 16px;color: #666666;line-height: 2;}
.index-intro .content .gradual-btn{margin-top: .25rem;}
/* 首页产品 */
.index-product{background: url(../images/index-bgb.jpg) no-repeat;background-size: cover;background-position: center;height: 9rem;}
.index-product .com-title{color: #FFFFFF;}
.index-product .com-description{color: #FFFFFF;text-align: center;display: inline-block;width: 100%;}
.index-product .com-box{margin-top: .6rem;}
.index-product .item{width: 32%;margin-left: 2%;background: rgba(0,0,0,.5);text-align: center;padding: .8rem 0 .7rem;}
.index-product .item:first-child{margin-left: 0;}
.index-product .item .img{width: 1.2rem;height: 1.2rem;border-radius: 50%;border: 1px solid #DDDDDD;margin: 0 auto .4rem;}
.index-product .item .img img{width: 70%;margin: 15% auto 0;}
.index-product .item p{color: #FFFFFF;font-size: .24rem;margin-bottom: .8rem;}
.index-product .item .more{width: 100%;text-align: center;}
.index-product .item .more span{color: #FFFFFF;display: inline-block;vertical-align: middle;}
.index-product .item .more img{display: inline-block;vertical-align: middle;margin-left: 20px;width: 20px;transition: all .2s linear;}
.index-product .item:hover .img{background: linear-gradient(90deg,#3DBFBB,#1649B3);border: 1px solid #1649B3;}
.index-product .item:hover .more img{margin-left: 10px;}
/* 首页科技 */
.index-tech{background: linear-gradient(90deg,#3DBFBB,#1649B3);}
.index-tech .com-title{color: #FFFFFF;}
.index-tech .com-description{color: #FFFFFF;display: inline-block;text-align: center;width: 100%;}
.index-tech .bg{position: absolute;left: 0;bottom: 0;width: 100%;}
.index-tech .com-box{margin-top: .7rem;position: relative;z-index: 10;background: rgba(0,0,0,.3);}
.index-tech .com-box img{width: 54%;}
.index-tech .com-box .content{width: 46%;height: 100%;padding: 1rem .8rem;}
.index-tech .com-box .content p{color: #FFFFFF;font-size: 20px;margin-bottom: .4rem;}
.index-tech .com-box .content span{color: #DDDDDD;font-size: 16px;line-height: 2;}
.tech-btn{border: 1px solid #FFFFFF;color: #FFFFFF;}
/* 首页新闻 */
.index-news{background: #F7F7F7;}
.index-news .com-description{display: inline-block;width: 100%;text-align: center;}
.index-news .com-box{margin-top: .7rem;}
.index-news .com-box .fl{width: 51%;padding: .6rem;height: 610px;background: #FFFFFF;cursor: pointer;transition: all .2s linear;}
.index-news .com-box .fl:hover{box-shadow: 0 8px 12px rgba(0,0,0,.06);}
.index-news .com-box .fl p.enfont{font-size: .4rem;color: #2961E0;}
.index-news .com-box .fl span.enfont{font-size: .24rem;color: #2961E0;}
.index-news .com-box .fl .title{color: #666666;font-size: .24rem;line-height: 2.2;}
.index-news .com-box .fl div{line-height: 1.8;color: #333333;}
.index-news .com-box .fl img{margin-top: .3rem;width: 100%;}
.index-news .com-box .list{width: 45%;}
.index-news .com-box .list .item{width: 100%;background: #FFFFFF;padding:.4rem .5rem;height: 180px;margin-top: 35px;cursor: pointer;transition: all .2s linear;display: inline-block;}
.index-news .com-box .list .item:hover{box-shadow: 0 8px 12px rgba(0,0,0,.06);}
.index-news .com-box .list .item:first-child{margin-top: 0;}
.index-news .com-box .list .item span{color: #2961E0;font-size: .2rem;}
.index-news .com-box .list .item p{color: #333333;font-size: .24rem;line-height: 2;}
.index-news .com-box .list .item div{color: #666666;}
.index-news .news-btn{border: 1px solid #999999;color: #666666;}
/* 合作伙伴 */
.index-friend{padding-bottom: 1rem;}
.index-friend .box{width: 1300px;margin: .5rem auto 0;position: relative;}
.friend-swiper{overflow: hidden;height: 2.4rem;}
.friend-swiper .swiper-slide{height: 1.6rem;}
.friend-swiper .swiper-slide>div{border: 1px solid #dedede;position: relative;width: 95%;height:1.6rem;margin: 0 auto;}
.friend-swiper .swiper-slide>div img{position: absolute;margin: auto;max-width: 90%;max-height: 90%;top:0;left: 0;bottom: 0;right: 0;}
.index-friend .box>img{position: absolute;top: .5rem;width: .3rem;cursor: pointer;}
.index-friend .box .prev{left: 0;}
.index-friend .box .next{right: 0;}
.friend-pagination{position: absolute;z-index: 20;bottom: .1rem;width: 100%;text-align: center;}
.friend-pagination .swiper-pagination-switch {display: inline-block;width: 10px;height: 10px;border-radius: 50%;margin: 0 8px;cursor: pointer;border: 2px solid #ccc;}
.friend-pagination .swiper-active-switch{border: 2px solid #ccc;background-color: transparent;width: 16px;height: 16px;position: relative;top: 3px;background: #2961E0;}

/* 媒体查询 */
@media (max-width:1350px) {
	.index-friend .box{width: 100%;}
	.friend-swiper{width: calc(100% - 100px);}
}
@media (max-width:1350px) {
	
}