/* ***************************************************************************************** */
/* 新闻 */
/* ***************************************************************************************** */
/* 列表 */
.news-container{background: #F1F1F1;}
.news-container .com-box{padding: 1rem 0;}
.news-item{width: 32%;margin-left: 2%;float: left;transition: all .2s linear;margin-bottom: .5rem;}
.news-item:nth-child(3n - 2){margin-left: 0;}
.news-item .img-box{position: relative;height: 240px;width: 100%;}
.news-item .img-box .date{position: absolute;right: 0;top: 0;width: 50%;height: 120px;color: #FFFFFF;padding-left: 1.4rem;padding-top: 10px;}
.news-item .img-box .date img{position: absolute;right: 0;top: 0;}
.news-item .img-box .date span{z-index: 1;position: relative;}
.news-item .img-box .date p{font-size: .26rem;z-index: 1;position: relative;}
.news-item .text-box{background: #FFFFFF;padding: .3rem .3rem .4rem;height: 2.7rem;overflow: hidden;}
.news-item .text-box p{font-size: .24rem;margin-bottom: .2rem;transition: all .2s linear;}
.news-item .text-box div{color: #999999;}
.news-item:hover{box-shadow: 0 10px 15px rgba(0,0,0,.1);}
.news-item:hover .text-box p{color: #2961E0;}
/* 详情 */
.news-banner{background: #1A4EB7;height: 400px;width: 100%;}
.detail-container{width: 100%;background: #F1F1F1;position: relative;}
.detail-container .com-box{position: relative;}
.news-main{width: 75%;float: left;position: relative;top: -230px;background: #FFFFFF;}
.news-title{padding: .8rem 1rem;border-bottom: 1px solid #DDDDDD;height: 230px;}
.news-title>p{color: #444444;font-size: 30px;line-height: 1.3;}
.news-intro{margin-top: .4rem;}
.news-intro .news-type{float: left;background: #2961E0;border-radius: 20px;padding: 3px 12px;color: #FFFFFF;font-size: 14px;margin-right: .3rem;position: relative;top:8px;}
.news-intro>span{color: #999999;font-size: 14px;line-height:3;}
.news-intro .news-share{float: right;}
.news-content{padding: .8rem 1rem;}
.rele-news{float: right;width: calc(25% - 22px);padding: .5rem .3rem;background: #FFFFFF;margin-top: .6rem;}
.rele-news>p{padding-bottom: .3rem;border-bottom: 1px solid #EEEEEE;}
.rele-news .list>a{border-bottom: 1px dashed #EEEEEE;padding: .25rem 0;display: inline-block;}
.rele-news .list>a img{margin-bottom: .2rem;}
.rele-news .list>a p{color: #666666;font-size: .24rem;padding-left: .25rem;position: relative;}
.rele-news .list>a p:before{content: '';position: absolute;left: .03rem;top: .1rem;width: 8px;height: 8px;border-radius: 50%;background: #666666;}
.rele-news .list>a span{color: #999999;margin-top: .15rem;padding-left: .25rem;display: inline-block;}
.return-btn{width: 2.5rem;height: .8rem;line-height: .8rem;text-align: center;background: linear-gradient(90deg,#3DBFBB,#1649B3);position: absolute;bottom: 1.5rem;left: 0;cursor: pointer;color: #FFFFFF;}
.return-btn .line{width: 30px;border-top: 1px solid #EEEEEE;height: 1px;display: inline-block;position: relative;top: -5px;}
.return-btn:hover{box-shadow: 0 10px 15px rgba(0,0,0,.1);}
.return-btn:hover .line{width: 0;}
