/* ***************************************************************************************** */
/* 核心技术 */
/* ***************************************************************************************** */
/* 列表页 */
.page-banner{background: url(../images/tech-bg.png) no-repeat;background-position: center;background-size: cover;}
.tech-container{background: #F7F7F7;}
.tech-list{padding: 1rem 0;}
.tech-item{background: linear-gradient(90deg,#1F2633,#010101);position: relative;padding: .5rem 1rem;margin-bottom: .4rem;}
.tech-item img{width: 55%;}
.tech-item .tech-text{position: absolute;right: 2rem;top: 50%;transform: translate(0,-50%);width: 20%;text-align: center;}
.tech-item .tech-text p{color: #FFFFFF;font-size: .34rem;font-weight: bold;}
.tech-item .tech-text .border-btn{border: 1px solid #FFFFFF;color: #FFFFFF;}
/* 详情页 */
.techview-container{background: #FFFFFF;}
.tech-banner{width: 100%;background: url(../images/tech-bgb.png) no-repeat;background-position: center;background-size: cover;height: 600px;position: relative;}
.tech-banner .tech-product{position: absolute;left: 50%;max-width: 1200px;bottom: 0;transform: translate(-50%,0);background: #FFFFFF;width: 100%;padding: 1rem .4rem 0;}
.tech-banner .tech-product img{width: 48%;}
.tech-banner .tech-product .content{width: 45%;float: right;}
.tech-product .content p{color: #333333;font-size: .38rem;margin-bottom: 1.8rem;}
.tech-product .content span{color: #666666;}
.tech-product .content>div{margin-top: .2rem;}
.tech-product .content .item{float: left;border: 1px solid #999999;color: #999999;padding: .2rem .2rem;margin-right: .18rem;font-size: .2rem;cursor: pointer;}
.tech-product hr{margin-top: .6rem;background: #dddddd;height: 1px;border: none;}
.tech-params{padding: 1rem 0;}
.tech-title{margin-bottom: .6rem;}
.tech-title img{width: .35rem;margin-right: 5px;display: inline-block;vertical-align: middle;}
.tech-title span{color: #959595;font-size: .26rem;display: inline-block;vertical-align: middle;}
.tech-params table{width: 100%;border: 1px solid #DDDDDD;}
.tech-params table .thbg{background: linear-gradient(90deg,#64708E,#1D213C);}
.tech-params table th{color: #FFFFFF;height: .8rem;width: 50%;}
.tech-params table td{height: .8rem;text-align: center;}
.tech-features .tech-box {position: relative;}
.tech-features .tech-box img{width: 48%;float: left;}
.tech-features .tech-box .content{position: absolute;left: 50%;top: 50%;transform: translate(0,-50%);padding-left: 1rem;}
.tech-features .tech-box .content p{font-size: .26rem;line-height: 1.8;position: relative;}
.tech-features .tech-box .content p::before{content: '';position: absolute;left: -.2rem;height: .3rem;width: 5px;top: .1rem;background: linear-gradient(90deg,#64708E,#1D213C);}
.tech-features .tech-box .content p span{color: #999999;}
.tech-refer {padding-bottom: 1.2rem;}
.tech-refer .title{color: #333333;font-size: .6rem;display: inline-block;text-align: center;width: 100%;padding-top: .8rem;}
.tech-refer .list{width: 100%;margin-top: .5rem;}
.tech-refer .item{width: 48%;cursor: pointer;transition: all .2s linear;}
.tech-refer .item:hover{box-shadow: 0 8px 12px rgba(0,0,0,.1);}
.tech-refer .item:hover div{background: #2961E0;color: #FFFFFF;}
.tech-refer .item img{width: 80%;display: block;margin: .2rem auto;}
.tech-refer .item div{background: #F7F7F7;height: 1.4rem;text-align: center;line-height: 1.4rem;color: #555555;font-size: .26rem;transition: all .2s linear;}
